// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
}

body {
  margin: 0;
}

.flexbox-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #143355;
  .flex-item {
    max-width: 50%;
  }
}

.btn-default {
  padding: 20px 60px;
  font-size: 2em;
  background-color: #EB3324;
  border: none;
  color: white;
  &:hover,
  &:active,
  &:focus {
    border: none;
    background-color: darken(#EB3324, 10%);
  }
}

.video-list {
  overflow: scroll;
  height: 80vh;
}

.video-item {
  border-bottom: 1px solid #DDDDDD;
  padding: 20px;
  margin: 0;
  &:nth-child(even) {
    background: #EB3324;
    color: #DDDDDD;
  }
}

.lity-content {
  width: 95vw !important;
}

.lity-iframe .lity-container, .lity-youtube .lity-container, .lity-vimeo .lity-container, .lity-facebookvideo .lity-container, .lity-googlemaps .lity-container {
  height: 90vh;
  max-width: none !important;
  width: auto !important;
}

.strong {
  font-weight: 700;
}

.message-container {
  height: 645px;
  overflow: scroll;
  background: #DDDDDD;
  .message {
    cursor: pointer;
  }
}

.message-history-container {
  height: 240px;
  overflow: scroll;
}

.padding-medium {
  padding: 30px;
}