// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-list {
  overflow: scroll;
  height: 80vh;
}

.video-item {
  border-bottom: 1px solid #DDDDDD;
  padding: 20px;
  margin: 0;
  &:nth-child(even) {
    background: #EB3324;
    color: #DDDDDD;
  }
}

.lity-content {
  width: 95vw !important;
}

.lity-iframe .lity-container, .lity-youtube .lity-container, .lity-vimeo .lity-container, .lity-facebookvideo .lity-container, .lity-googlemaps .lity-container {
  height: 90vh;
  max-width: none !important;
  width: auto !important;
}

.strong {
  font-weight: 700;
}

.message-container {
  height: 645px;
  overflow: scroll;
  background: #DDDDDD;
  .message {
    cursor: pointer;
  }
}

.padding-medium {
  padding: 30px;
}