// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-list {
  overflow: scroll;
  height: 80vh;
}

.video-item {
  border-bottom: 1px solid #DDDDDD;
  padding: 20px;
  margin: 0;
  &:nth-child(even) {
    background: #EB3324;
    color: #DDDDDD;
  }
}